<!DOCTYPE html>{% load static %}
{% load BlogApp_tags %}
<html lang="en" dir="ltr">
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
    <meta charset="utf-8">
    <title>{%block title_block%}{%endblock%}</title>
  </head>
  <body>
    <div class="content">
      {%block content%}{%endblock%}
    </div>
    <div class="sidebar">
      <h1>First Blog</h1>
     <p>The total number of published  blogs upto Today : <span id='pcount'> {%  my_tag %} </span></p>    
     <h3>Latest Post:</h3>{% show_latest_posts 4%}  <!-- you can  write here how many post you want {% show_latest_posts 4%} -->
     <h3>Most commented Posts:</h3>
     {% get_most_commented_posts as most_commented_posts %}
     <ul>
       {% for post in most_commented_posts %}
       <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
       {%endfor%}
     </ul>


    </div>

  </body>
</html>
