{% extends 'BlogApp/base.html' %}
{% block title_block %}{{post.title}} {% endblock %}
    {% block content %}
      <h1>{{post.title}}</h1>
      <p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
      {{post.body | linebreaks}} <br><br>
      <a href="/{{post.id}}/share" class="btn btn-lg btn-success" target=__blank>Share Post By Email</a>

      <div >
        {% with comments.count as comments_count %}
          <h2>{{comments_count}}Comment{{comments_count|pluralize}}</h2>
        {%endwith%}
        {%if comments%}
            {%for comment in comments%}
              <p id='ch'>comment {{forloop.counter}}  by  {{comment.name}}  on  {{comment.created}}</p>
              <div class="cb"> {{comment.body|linebreaks}}</div>
            {%endfor%}
            {%else%}
              <p>There are no Comments yet !!</p>
        {%endif%}
        {%if csubmit%}
              <h2>Your comment added successfully</h2>
              {%else%}
                <form  method="post">
                  {{form.as_p}}
                  {%csrf_token%}
                  <input type="submit" class="btn btn-success btn-lg" value="submit comment">
                </form> <br><br>
              {%endif%}

      </div>
    {% endblock %}
